/*tela de cadastro usuário*/
.caixa-input{
position: relative;
margin-top: 30px;/*distancia entre os inputs caso um em cima do*/
display: flex;
}
/* Característica do input */
.caixa-input .input{
font-size: 14px;
padding: 10px 10px 10px 5px;
display: block;
width: 800px;
border: none;
border-bottom: 2px solid rgb(213,90,59);
background: transparent;
font-family: 'Tomorrow', sans-serif;
}
.caixa-input .input:focus{
outline: none;
}
/* cor do texto escrito */
.input{
color: white;
}
/*Nomes das linhas*/
.caixa-input .label{
color: #FFFFFF;
font-size: 16px;
font-weight: normal;
font-family: 'Tomorrow', sans-serif;
position: absolute;
pointer-events: none;
left: 5px;
top: 10px;
display: flex;
}
.caixa-input .label-letra{
transition: 0.2s ease all;
transition-delay: calc(var(--index) * .05s);
}
.caixa-input .input:focus ~ label .label-letra,
.caixa-input .input:valid ~ label .label-letra{
transform: translateY(-20px);
font-size: 14px;
color: rgb(215,91,54);
}
.caixa-input .barra{
position: relative;
display: block;
width: 200px;
}
.caixa-input .barra:before,.caixa-input .barra:after{
content: '';
height: 2px;
width: 0;
bottom: 1px;
position: absolute;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}
.caixa-input .barra:before{
left: 50%;
}
.caixa-input .barra:after{
right: 50%;
}
.caixa-input .input:focus ~ .barra:before,
.caixa-input .input:focus ~ .barra:after{
width: 50%;
}
/* Fim Input com Span Subindo */
/*botões*/ 
.radio-button{
display: flex;
flex-direction: row;
align-items: center;
padding: 5px;
gap: 10px;
position: relative;
margin: 10px;
}
.option1{
position: relative;
opacity: 0.9;
cursor: pointer;
}
.option2{
position: relative;
opacity: 0.9;
cursor: pointer;
}
.botao{
/* background-color: gold;*/
display: flex;
flex-direction: row;
cursor: pointer;
justify-content: space-evenly;
width: 100%;
margin-top: 30px;
} 
.botao :hover{
background-color: rgb(213, 90, 59);
}
.btncads{
cursor: pointer;
width: 80px;
height: 40px;
border: none;
border-radius: 32px;
background: rgb(10, 35,52);
color: white;
font-size: 12px;
transition: all .3s ease-in-out;
}
/*CADASTRO PRODUTO*/
.caduser{
position: absolute;
top: 50%;
left: 50%;
height: 60%;
width: 30%;
padding: 40px 0px;
transform: translate(-50%, -50%);
background: rgb(23,61,87);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}
.foto{
display: flex;  
flex-direction: column;
padding: 20px;
margin-left: 20px;
color: white;
}
.caixa-input{
position: relative;
margin-top: 30px;/*distancia entre os inputs caso um em cima do*/
display: flex;
margin-left: 40px;
}
/* Característica do input */
.caixa-input .input{
font-size: 14px;
padding: 10px 10px 10px 5px;
display: block;
width: 800px;
border: none;
border-bottom: 2px solid rgb(213,90,59);
background: transparent;
font-family: 'Tomorrow', sans-serif;
}
.caixa-input .input:focus{
outline: none;
}
/* cor do texto escrito */
.input{
color: white;
}
/*Nomes das linhas*/
.caixa-input .label{
color: white;
font-size: 16px;
font-weight: normal;
font-family: 'Tomorrow', sans-serif;
position: absolute;
pointer-events: none;
left: 5px;
top: 10px;
display: flex;
}
.caixa-input .label-letra{
transition: 0.2s ease all;
transition-delay: calc(var(--index) * .05s);
}
.caixa-input .input:focus ~ label .label-letra,
.caixa-input .input:valid ~ label .label-letra{
transform: translateY(-20px);
font-size: 14px;
color:rgb(215, 91, 54);
}
.caixa-input .barra {
position: relative;
display: block;
width: 100px;
}
.caixa-input .barra:before,.caixa-input .barra:after{
content: '';
height: 2px;
width: 0;
bottom: 1px;
position: absolute;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}
.caixa-input .barra:before{
left: 50%;
}
.caixa-input .barra:after{
right: 50%;
}
.caixa-input .input:focus ~ .barra:before,
.caixa-input .input:focus ~ .barra:after{
width: 50%;
}
/* Fim Input com Span Subindo */
/*botões*/ 
.radio-button{
display: flex;
flex-direction: row;
align-items: center;
padding: 5px;
gap: 10px;
position: relative;
margin: 10px 40px;
}
.option1{
position: relative;
opacity: 0.9;
cursor: pointer;
}
.option2{
position: relative;
opacity: 0.9;
cursor: pointer;
}
/*checkbox*/
.checkbox{
width: 120px;
height: 30px;
background-color: rgb(79,173,144);
border-radius: 30px;
position: relative;
color: black;
overflow: hidden;
z-index: 10;
display: flex;
margin: auto;
}
/*o botão seletor ativo*/
#checkbox_toggle{
display: none;
}
/*bt ativo*/
.checkbox .toggle{
width: 55px;
height: 30px;
position: absolute;
border-radius: 25px;
left: 0px;
cursor: pointer;
transition: 0.4s;
box-shadow: 0px 0px 10px rgb(0,36,54), 0px 0px 30px rgb(0, 36, 54);
}
.checkbox .slide{
width: 120px;
height: 30px;
display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;
}
.checkbox .slide .text{
font-size: 14px;
font-weight: 700;
cursor: pointer;
display: flex;
justify-content: center;
}
/*bt inativo*/
.check:checked + .checkbox .slide .toggle{
transform: translateX(50px);
background: linear-gradient(40deg, rgb(215,91,54) 70%);
width: 100px;
}
.check:checked + .checkbox .slide{
background-color: rgb(215, 91, 54);
color: white;
}
/*botões*/
.botaop{
display: flex;
flex-direction: row;
cursor: pointer;
justify-content: space-evenly;
width: 100%;
margin-top: 25px;
} 
.botaop :hover{
background-color: rgb(215, 91, 54);
}
.btncads{
cursor: pointer;
width: 100px;
height: 30px;
border: none;
border-radius: 32px;
background: rgb(23,61,87);
color: white;
font-size: 12px;
transition: all .3s ease-in-out;
margin-top: 20px;
}
.textoradio{
color: white;
}
.text{
padding: 10px;
}