<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../css/usuarios/home.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
    <!--<?php include_once("menu.php") ?>
        TELA HOME USUARIO-->
    <div class="main-home">
        <div class="azcard">
            <div class="background"></div>
            <div class="cardcontent">
            </div>
        </div>
        <div class="saldosaz">
            <div class="azrecebidos"></div>
            <div class="azparaenvios"></div>
        </div>
        <div class="boxloja">
            <span>NOVIDADES DA AZ PRODUTOS</span>
            <div class="swiper">

                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="project-img">
                      <img src="../../img/garrafa.png" alt="Foto 01">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="project-img">
                      <img src="../../img/mochila.png" alt="Foto 02">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="project-img">
                      <img src="../../img/balde.png" alt="Foto 03">
                    </div>
                  </div>
                </div>
              
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>

            </div>
        </div>
        <div class="carrosselhome">
            <div class="swiper">

                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="project-img">
                      <img src="../../img/Silvania.png" alt="Foto 01">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="project-img">
                      <img src="../../img/Silvania.png" alt="Foto 02">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="project-img">
                      <img src="../../img/Silvania.png" alt="Foto 03">
                    </div>
                  </div>
                </div>
              
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
    var swiper = new Swiper(".swiper", {
    cssMode: true,
    loop: true,
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    pagination: {
        el: ".swiper-pagination",
    },
    keyboard: true,
    });
    </script>
</body>
</html>