/*Propriedades da Tela Renes*/
.tela-enviar-az-coins{
    display: flex;
    width: auto;
}

.tela-enviar-az-coins .nav-tela-enviarAz{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: blue;
}

.tela-enviar-az-coins ul, li{
    margin: 0px;
    list-style-type: none;
}
.tela-enviar-az-coins input, button{
    outline: none !important;
    border: none;
}
.tela-enviar-az-coins button:hover{
    cursor: pointer;
}
.focus-input-form-btn-group

.tela-enviar-az-coins .btn-enviar-para{
    display: flex;
    background-color: transparent ;
    margin-top: 20;
}

textarea{
    width: 255px;
    padding: 2px;
    color: white;
    border: 1px solid;
    background-color: rgb(6, 6, 21);
    font-size: px;
    margin-top: 15px;
}
.input-form{
    background-color: blue;
}
.tela-enviar-az-coins .container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding-left: 250px;
}
.tela-enviar-az-coins .container-enviar{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tela-enviar-az-coins .wrap-enviar{
    background-color: rgb(6, 6, 21);
    width: 300px;
    height: 520px;
    border-radius: 20px;
    padding: 20px;
}
.tela-enviar-az-coins .enviar-form{
    width: 100%;
    align-items: center;
    margin: auto;
}
.tela-enviar-az-coins .wrap-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.tela-enviar-az-coins .input-form{
    font-size: 18px;
    color: rgb(240, 236, 236);
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
    margin-top: 0;
}
.tela-enviar-az-coins .focus-input-form{
    width: 100%;
    pointer-events: none;
    top: 0;
    margin-bottom: 0;
    margin-top: 25px;
}

.tela-enviar-az-coins .focus-input-form::after{
    font-size: 18px;
    color: white;
    content: attr(data-placeholder);
    width: 100%;
    padding-left: 5px;
    z-index: 1;   
}
.tela-enviar-az-coins .container-enviar-form-btn{
    width: 100%;
    display: flex;
    justify-content:right;
    margin-top: 10px;
}
.tela-enviar-az-coins .enviar-form-btn{
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    height: 30px;
    border-radius: 15px;
    transition: all 0.4s;
    background-color: rgb(242, 93, 39);
    color: white;
}

.flip-card{
    display: flex;
    background-color: transparent;
    width: 280px;
    height: 170px;
    perspective: 1000px;
    color: white;
    background-color: red;
    margin-top: 40px;
}
  
.heading_8264{

    position: absolute;
    letter-spacing: .2em;
    font-size: 0.7em;
    top: 2em;
    left: 16.6em;
}
  
.logo{
    width: 30px;
    position: absolute;
    top: 6.8em;
    left: 13.7em;
}

.chip{
    position: absolute;
    top: 2.3em;
    left: 1.5em;
}
  
.contactless{
    position: absolute;
    top: 3.5em;
    left: 12.4em;
}
  
.number{
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
}
  
.valid_thru{
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
}
  
.date_8264{
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
}
  
.name{
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
}
  
.strip{
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #303030,
      #303030 10px,
      #202020 10px,
      #202020 20px
    );
}
  
.mstrip{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 0.8em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
}
  
.sstrip{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 0.8em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
}
  
.code{
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
}

.flip-card-inner{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: yellow;
}
  
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back{
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}
  
.flip-card-front{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
}
  
.flip-card-back{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #171717;
    transform: rotateY(180deg);
}