/*Propriedades da Página Principal*/
.paginaprincipal{
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    width: auto;
    left: 300px;
    right: 50px;
    height: 75vh;
    background-color: rgba(217, 217, 217, .44);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    margin-top: 3%;
    border-radius: 20px;
}
/*Propriedades da barra de navegação*/
.paginaprincipal .navmain-ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(191, 191, 191);
}
/*Propriedades do conteúdo principal*/
.paginaprincipal .div-main{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    width: 95%;
    height: 95%;
}

/*Botões Aprovados e Reprovados*/
.paginaprincipal .navmain-ul .botao-aprov{

}
.paginaprincipal .navmain-ul .botao-aprov:hover{
    background-color: var(--cor-laranja-az);
}


.paginaprincipal .div-main .lista-historico{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.paginaprincipal .div-main .lista-historico .item-historico{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
}


/*Seta Baixa*/
.paginaprincipal .div-main .lista-historico .setabaixa{
    transform: translateY(-50%);
}
.paginaprincipal .div-main .lista-historico .setabaixa.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

.firstcontent{
    display: flex;
    justify-content: space-between;
}
.secondcontent.closed{
    display: block;
}
.secondcontent{
    display: none;
}