.main-home{
    z-index: 2;
    position: fixed;
    width: auto;
    left: 300px;
    right: 50px;
    height: 75vh;
    background-color: rgba(217, 217, 217, .44);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(191, 191, 191);
    margin-top: 3%;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.azcard{
    background-color: yellow;
    width: 350px;
    height: 200px;
}

.boxloja{
    background-color: yellow;
    width: 230px;
    height: 320px;
}

.azrecebidos{
    background-color: yellow;
    width: 300px;
    height: 150px;
}

.azparaenvios{
    background-color: yellow;
    width: 300px;
    height: 150px;
}

.carrosselhome{
    background-color: yellow;
    width: 600px;
    height: 350px;
}

/*Configurações do Site Responsivo*/
@media only screen and (max-width: 768px){
    .main-home{
        left: 100px;
        right: 20px;
    }
}

/*Propriedades da Barra de Rolagem*/
/*width*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-corner{
    
}
/* Track */
::-webkit-scrollbar-track{
    background: none;
}
/* Handle */
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: var(--cor-laranja-az);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: var(--cor-fundo-menu);
}