.main-carteira{
    z-index: 2;
    position: fixed;
    width: auto;
    left: 300px;
    right: 50px;
    height: 75vh;
    background-color: rgba(217, 217, 217, .44);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    margin-top: 3%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
/*SALDOS AZCOIN E AZMERIT*/
.main-carteira .azscore{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
.main-carteira .azscore .azcoinscore{
    display: flex;
    flex-direction: column;
}
.main-carteira .azscore .azcoinscore .valores{
    gap: 10px;
    display: flex;
    align-items: center;
}
.main-carteira .azscore .azmeritscore{
    display: flex;
    flex-direction: column;
}
.main-carteira .azscore .azmeritscore .valores{
    gap: 10px;
    display: flex;
    align-items: center;
}
/*TABELA COM VALORES*/
.main-carteira .main-score-history{
    color: black;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    margin-top: 20px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
/*POSIÇÃO IMAGEM E TEXTO*/
.main-carteira .main-score-history .div-principal .mr-yellow{
    position: absolute;
    width: 113px;
    height: 113px;
    top: -100px;
    left: 0;
}
/*TABELAS*/
.main-carteira .main-score-history .div-principal{
    color: white;
    position: relative;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cor-fundo-menu);
    height: 60%;
}
.main-carteira .main-score-history .div-principal .div-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    width: 45%;
    min-width: 310px;
    overflow-y: auto;
}
.main-carteira .main-score-history .div-principal .table-score{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.main-carteira .main-score-history .div-principal .table-score .thead-score{
    position: sticky;
    top: 0;
    background-color: var(--cor-fundo-menu);
}
.main-carteira .main-score-history .div-principal .table-score .element-table{
    display: flex;
}
.main-carteira .main-score-history .div-principal .tbody-score .data{
    font-size: 13px;
}
.linha-divisoria{
    border: 1px solid white;
}

/*Propriedades da Barra de Rolagem*/
/*width*/
::-webkit-scrollbar{
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track{
    background: none;
}
/* Handle */
::-webkit-scrollbar-thumb{
    background: var(--cor-laranja-az);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: var(--cor-fundo-menu);
}

/*Configurações do Site Responsivo*/
@media screen and (max-width: 768px){
    /*Distância horizontal do Menu Lateral*/
    .main-carteira{
        left: 100px;
        right: 20px;
    }
    /*Não aparecer o boneco*/
    .main-carteira .main-score-history .div-principal .mr-yellow{
        display: none;
    }
    .main-carteira .main-score-history .div-principal{
        flex-direction: column;
        height: 550px;
    }
    .main-carteira .main-score-history .div-principal .div-table{
        height: 50%;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px){
    /*Não aparecer o boneco*/
    .main-carteira .main-score-history .div-principal .mr-yellow{
        display: none;
    }
    .main-carteira .main-score-history .div-principal{
        flex-direction: column;
        height: 550px;
    }
    .main-carteira .main-score-history .div-principal .div-table{
        height: 50%;
        width: 100%;
    }
}