:root{
    --cor-fundo-menu: rgb(0, 36, 54);
    --cor-laranja-az: #EF4E23;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', serif;
    height: 100%;
}
.bg{
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.35;
    position: absolute;
}
/*PROPRIEDADES DO MENU LATERAL*/
.menulateral{
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 4.5%;
    height: 100%;
    overflow-x: hidden;
    border-right-width: 2px;
    border-right-style: solid;
    transition: width 0.2s linear; /*TRANSIÇÃO HOVER*/
    background: var(--cor-fundo-menu);
    border-right-color: var(--cor-laranja-az);
}
/*MUDA O TAMANHO DO MENU COM HOVER*/
.menulateral:hover{
    width: 14%;
    transition: all 0.5s ease;
}
/*AJUSTE VETOR DA LOGO AZ MERIT*/
.menulateral .logoazmerit{
    display: flex;
    width: 100%;
    margin: 25% auto;
    padding-left: 7%;
}
/*CONFIG BOX LOGO*/
.menulateral .logoazmerit .box_logo{
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}
.menulateral .logoazmerit .box_logo #merit{
    padding-left: 10%;
}


.menulateral .listamenu .box_btn{
    padding: 6%;
    padding-left: 15%;
}
.menulateral .listamenu .box_btn .menu_link{
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center; /*AJUSTA O TEXTO PARA FICAR UM ABAIXO DO OUTRO*/
    align-items: center; /*AJUSTA O TEXTO PARA CENTRALIZAR COM A IMAGEM*/
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menulateral .iconbox{
    width: 27px;
    height: 27px;
    position: relative;
}


/*AJUSTE BOTÃO*/
.menulateral .listamenu .logoutbox{
    position: absolute;
    bottom: 10%;
}

/*MUDA A COR DO TEXTO COM HOVER*/
.menulateral .menu_link:hover .menu_span{
    display: inline;
    position: relative;
    padding-left: 8%;
    font-size: 16px;
    margin-left: 20px;
    color: var(--cor-laranja-az);
}
/*MUDA A COR DOS ÍCONES COM HOVER <SVG>*/
.menulateral .menu_link:hover .icons{
    fill: var(--cor-laranja-az);
}
/*CONFIG TEXTO MENU LATERAL*/
.menulateral .listamenu .box_btn .menu_span{
    display: none;
    position: relative;
    padding-left: 8%;
    font-size: 16px;
    margin-left: 20px;
}
.menulateral .listamenu{
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.menulateral .listamenu .box_btn svg{
    margin-right: 5%;
}

/*CABEÇALHO*/
.cabecalho{
    z-index: 1;
    height: 114px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--cor-laranja-az);
}
/*CAIXA COM FOTO E NOME DO USUÁRIO*/
.cabecalho .user_box{
    position: absolute;
    top: 2%;
    right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabecalho .user_box .nome_user{
    font-size: 16px;
    font-weight: bold;
}
.cabecalho .user_box .img_user{
    width: 84px;
    height: 84px;
    padding-left: 10px;
    border-radius: 50%;
}
/*CAIXA QUE INDICA PÁGINA ATUAL*/
.tela_atual{
    position: absolute;
    top: 8%;
    left: 17%;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

/*RODAPÉ*/
.rodape{
    left: 50%;
    bottom: 0%;
    z-index: 0;
    opacity: 0.35;
    padding: auto;
    font-size: 14px;
    position: absolute;
    text-align: center;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}