:root{
    --cor-fundo-menu: rgb(0, 36, 54);
    --cor-laranja-az: #EF4E23;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(img/Fundo.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.menulateral{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100%;
    background-color: var(--cor-fundo-menu);
    transition: 0.2s all ease;
}
.menulateral .listamenu{
    display: flex;
    flex-flow: column;
    list-style-type: none;
    justify-content: space-between;
}
/AJUSTE VETOR DA LOGO AZ MERIT/
.menulateral .listamenu .logoazmerit{
/* AZ merit */
    position: relative;
    margin-left: -15px;
}
.menulateral .listamenu .itemlista{
    margin-top: 50px;
    padding-top: auto;
    width: 100%;
}
.menulateral .listamenu .logoazmerit #logoazmerit .vector_merit{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease;
}
.menulateral .listamenu .itemlista .itemmenu{
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 100%;
}
.menulateral .listamenu .itemlista .textoicon{
    position: absolute;
    padding: 2px 15px;
    border-radius: 30px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Tomorrow', serif;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease;    
}
.menulateral .listamenu .itemlista .itemmenu .icon{
    width: 25px;
    height: 25px;
}


/Propriedades do hover/
.menulateral:hover{
    width: 250px;
}
.menulateral:hover .listamenu .itemlista .itemmenu .textoicon{
    opacity: 1;
    visibility: visible;
    margin-left: 50px;
}
.menulateral:hover .listamenu .logoazmerit #logoazmerit .vector_merit{
    opacity: 1;
    visibility: visible;
}
.menulateral .listamenu .itemlista .itemmenu:hover{
    color: var(--cor-laranja-az);
}
.menulateral .listamenu .itemlista .itemmenu:hover .pathicon{
    fill: var(--cor-laranja-az);
}