.main-home{
    z-index: 2;
    display: flex;
    position: fixed;
    justify-content: center;
    width: auto;
    margin-top: 3%;
    left: 300px;
    right: 50px;
    height: 75vh;
    background-color: rgba(217, 217, 217, .44);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(191, 191, 191);
    padding-top: 20px;
}

.grid{
    overflow-y: auto;
    overflow-x: hidden;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-template-rows: repeat(auto-fill, 100%);
    grid-gap: 10px;
    background-color: blueviolet;
}

.grid .gridzin{
    background-color: tomato;
    width: fit-content;
    height: fit-content;
}
/*Cartão AZ*/
.grid .gridzin #azcard{
    width: fit-content;
    height: fit-content;
    height: auto;
    display: flex;
}
.grid #azcard .card{
    min-width: 340px;
    min-height: 210px;
    max-width: 340px;
    max-height: 210px;
    height: auto;
    display: flex;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--cor-laranja-az);
    background-color: var(--cor-fundo-menu);
}
/*Cards*/
.grid .gridzin:nth-child(2){
    display: flex;
    flex-wrap: wrap;
}
.grid .gridzin .azbidos{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: fit-content;
    align-items: center;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--cor-laranja-az);
    background-color: var(--cor-fundo-menu);
}
.grid .gridzin .azvios{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: fit-content;
    align-items: center;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--cor-laranja-az);
    background-color: var(--cor-fundo-menu);
}
.grid .gridzin #azcoin{
    max-width: 40px;
}
/*Lojinha*/
.grid #lojinha{
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 20px;
    max-width: fit-content;
    height: fit-content;
    align-items: center;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--cor-laranja-az);
    background-color: var(--cor-fundo-menu);
}
.grid #lojinha .carrossel{
    background-color: white;
}
.grid #lojinha .bucks{
    display: flex;
    align-items: center;
}
.grid #lojinha .bucks #azcoin{
    max-width: 30px;
    margin: 0 10px 0 30px;
}
.grid #lojinha #button{
    background-color: var(--cor-laranja-az);
    padding: 5px 20px 5px 20px;
}
/*Carrossel*/
.grid #carrossel{
    min-width: 670px;
    min-height: 370px;
    height: auto;
    display: flex;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--cor-laranja-az);
    background-color: var(--cor-fundo-menu);
    justify-content: center;
}

/*Configurações do Site Responsivo*/
@media only screen and (max-width: 768px){
    .main-home{
        left: 100px;
        right: 20px;
    }
}

/*Propriedades da Barra de Rolagem*/
/*width*/
::-webkit-scrollbar{
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track{
    background: none;
}
/* Handle */
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: var(--cor-laranja-az);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: var(--cor-fundo-menu);
}

/*https://stackoverflow.com/questions/43129360/css-grid-wrapping