
.carteira-trans{
    z-index: 2;
    position: fixed;
    width: auto;
    left: 300px;
    right: 50px;
    height: 75vh;
    background-color: rgba(217, 217, 217, .44);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    margin-top: 3%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.carteira-trans .azscore{
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
}

.carteira-trans .main-score-history{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: blue;
}

.carteira-trans .main-score-history .div-tables{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carteira-trans .main-score-history .div-tables .exemplo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    margin: 10px 10px;
}
.carteira-trans .main-score-history .div-tables .table-score{
    display: flex;
    flex-direction: column;
    max-height: max-content;
}
.carteira-trans .main-score-history .div-tables .table-score .thead-score{

}
.carteira-trans .main-score-history .div-tables .table-score .thead-score .tr-table{
    display: flex;
    justify-content: space-evenly;
}
.carteira-trans .main-score-history .div-tables .table-score .tbody-score{
    overflow-x: hidden;
    overflow-y: scroll;
}
.carteira-trans .main-score-history .div-tables .table-score .tbody-score tr{

}
.carteira-trans .main-score-history .div-tables .table-score .element-table{
    text-align: center;
    display: flex;
    justify-content: center;
}

/*Propriedades da Barra de Rolagem*/
/*width*/
::-webkit-scrollbar{
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track{
    background: none;
}
/* Handle */
::-webkit-scrollbar-thumb{
    background: var(--cor-laranja-az);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: var(--cor-fundo-menu);
}
/*Configurações do Site Responsivo*/
@media only screen and (max-width: 768px){
    .carteira-trans{
        left: 100px;
        right: 20px;
    }
    .carteira-trans .main-score-history .div-tables .table-score{
        max-height: 25vh;
    }
}